body {
  font-family: Cairo , "sans serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

@media (max-width:992){
  *{
    font-size : 10px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding : 0; 
  margin : 0 ;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
@media screen and (max-width : 992px){
  :root{
    font-size : 14px !important;  
  }
}
@media screen and (max-width : 500px){
  :root{
    font-size: 10px !important;
  }
}



@media screen and (min-width: 992px){
  :root{
    font-size : 16px !important;
  }
}
.slick-next:before, .slick-prev:before{
  font-size : 30px;
}