body {
  font-family: Roboto , "sans serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

@media (max-width:992){
  *{
    font-size : 10px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding : 0; 
  margin : 0 ;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
@media screen and (max-width : 992px){
  :root{
    font-size : 14px !important;  
  }
}
@media screen and (max-width : 500px){
  :root{
    font-size: 10px !important;
  }
}



@media screen and (min-width: 992px){
  :root{
    font-size : 16px !important;
  }
}
.slick-next:before, .slick-prev:before{
  font-size : 30px;
}

.pagination{
  display : flex ; 
  justify-content : center;
  align-items : center; 
  list-style: none ;
}

.pagination-item{
  margin : 0 2px;
}
.pagination-link, .pagination-margin, .pagination-break{
  outline : none ;
  border: none ; 
  padding : 0.4rem 0.8rem;   
  font-weight: bold ;  
  cursor : pointer; 
  color : #192a56;
}

.pagination-margin{
  vertical-align: middle;
  font-size : 1.1em;
}

.pagination-link:hover, .pagination-margin:hover , .pagination-break:hover{  
  color :#3498db ; 
}

.active-link{
  padding : 0.4rem 0.8rem ;  
  border-radius: 3px;
  color : white;
  background-color : #192a56;
}