
.pagination{
  display : flex ; 
  justify-content : center;
  align-items : center; 
  list-style: none ;
  margin : 3rem auto 2rem auto;
}

.pagination-item{
  margin : 0 2px;
}
.pagination-link, .pagination-margin, .pagination-break{
  outline : none ;
  border: none ; 
  padding : 0.4rem 0.8rem;   
  font-weight: bold ;  
  cursor : pointer; 
  color : #192a56;
}

.pagination-margin{
  vertical-align: middle;
  font-size : 1.1em;
}

.pagination-link:hover, .pagination-margin:hover , .pagination-break:hover{  
  color :#3498db ; 
}

.active-link{
  padding : 0.4rem 0.8rem ;  
  border-radius: 3px;
  color : white;
  background-color : #192a56;
}